<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="Mini 4K GPS Tool"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".FinalActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssScanActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssReceiverConfigScanActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".HiddenGnssParamActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssNeighborhoodDumpActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssConstellationProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssIntegritySourceProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssIdentityProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssBootLogProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssChipProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".DeepGnssBusProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".E9CommandDiscoveryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GpsRtkParamProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".FlightModeScanActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".AttiControlActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".LiveFcStatusActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PropellerTestActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".FullGroundDiagnosticsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GnssSignalAnalyzerActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
